body {
  font-family: "Montserrat", sans-serif;
  color: $black;
  background-color: $primary;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: $black;
}

html {
  scroll-behavior: smooth;
}
