.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.75rem;
  background-color: $white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-content {
  width: 100%;
  position: absolute;
  top: 60px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;
  border-top: 1px solid rgb(233, 233, 233);
  transition: 0.3s;
  transform: translateY(-200%);

  li {
    padding-block: 0.5rem;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.button {
  position: fixed;
  right: 0.5rem;
  top: 1rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.active {
  transform: translateY(0%);
}

@media (min-width: 640px) {
  .button {
    display: none;
  }

  .menu {
    flex-direction: row;
    transform: translateY(0%);
    background: transparent;
    font-size: 14px;
  }

  .menu-content {
    width: auto;
    position: sticky;
  }
}

@media (min-width: 900px) {
  .logo {
    padding-left: 0;
  }
}
