.rooms {
  width: 100%;

  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.rooms-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;

  .block {
    background-color: $white;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 1px 1px 1px $gray-200;
    transition: 0.4s;

    &:hover {
      box-shadow: 0px 1px 5px 1px $gray-200;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    button {
      margin-top: 1rem;
      font-weight: bold;
      border: 0;
      opacity: 0.7;
      transition: 0.4s;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        opacity: 1;
      }
    }
  }

  .block-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }
}

@media (min-width: 640px) {
  .rooms-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .rooms-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
